<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    </head>
    <body>
            <h1>MY PARKING</h1>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <h3>{{ message }}</h3>
            {% endfor %}
            {% endif %}
            {% endwith %}
            
            <table>
                <th>PLATE</th>
                <th>SPOT</th>
                <th>STARTING</th>
                <th>ENDING</th>
                {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.plate }}</td>
                    <td>{{ reservation.spot }}</td>
                    <td>{{ reservation.starting }}</td>
                    <td>{{ reservation.ending }}</td>
                </tr>
                {% endfor %}        
            </table>
            <p>
                <button class="button-23" type="button" onclick="javascript:document.location.href='/new'">New Reservation</button>
            </p>
            <hr/>
            <a href="/stats">Stats</a>
    </body>
</html>