<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>
        <style>
            *{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            h3{
                color: red;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <h1>MY PARKING</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h3>{{ message }}</h3>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <table>
            <th>PLATE</th>
            <th>SPOT</th>
            <th>STARTING</th>
            <th>ENDING</th>
            {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.plate }}</td>
                <td>{{ reservation.spot }}</td>
                <td>{{ reservation.starting }}</td>
                <td>{{ reservation.ending }}</td>
            </tr>
            {% endfor %}        
        </table>
        <p>
            <button type="button" onclick="window.location.href='{{ url_for('new') }}';">New reservation</button>
        </p>
    </body>
</html>